.rect_box{
    position: relative;
    width: 100%;
    height: 100%;
    .three_box{
        width: 100%;
        height: 100%;
    }
    .model_progress{
        position: fixed;
        left: 0;
        top:0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
    }
    .options_box{
        position: absolute;
        right: 0;
        top: 0;
        padding: 4px 8px;
        background-color: rgba(255,255,255,0.5);
        .options_item{
            display: flex;
            align-items: center;
            .options_item_desc{
                display: inline-block;
                width: 6rem;
                text-align: right;
            }
            .options_item_process{
                width:  3rem;
                text-align: center;
            }
        }
    }
}